jQuery ->
  $('body').prepend('<div id="fb-root"></div>')
  $.ajax
    url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
    dataType: 'script'
    cache: true
  


window.fbAsyncInit = ->
  FB.init(appId: '125644104300196', status: true, cookie: true, xfbml: true)
  FB.Event.subscribe "auth.authResponseChange", (response) ->
    alert response
    FB.getLoginStatus (response) ->
      console.log response.status
  FB.Event.subscribe "edge.create", (response) ->
    alert 'got it' if response


  $('#sign_in').click (e) ->
    e.preventDefault()
    FB.login (response) ->
      if response.status = 'connected'
        window.location = '/auth/facebook/callback' if response.authResponse
        FB.api "/me", (response) ->
          console.log response.name
        FB.api 'me/likes/223083117703325', (response) ->
          if response.data.length == 1
            
          else
            $('#user-widget').html('<div class="fb-like" data-href="https://www.facebook.com/BaconSocialMedia" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>')
            FB.XFBML.parse(document.getElementById('fb-root'))
            FB.XFBML.parse(document.getElementById('user-widget'))

  $('#sign_out').click (e) ->
    FB.getLoginStatus (response) ->
      FB.logout() if response.authResponse
    true


